<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint">
        <title>Login</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h3>Either name or password is incorect</h3>
        <h4>Please fill up login form again</h4>
        <br>
        <hr>
        <form action="/login" method="POST">
        Name    : <input type="text" name='n1'><br><br>
        Password: <input type="text" name='n2'><br><br>
        <input type="submit">
        </form>
        <hr>
    </body>
</html>