<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint">
        <title>Send message to mobile</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h3>Please enter nameof user</h3>
        <br>
        <hr>
        <form action="/message" method="POST">
        Name    : <input type="text" name='n1'><br><br>
        <input type="submit">
        </form>
        <hr>
    </body>
</html>