<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint">
        <title>Personal Message</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h3>Send your message to any alumini</h3>
        <br>
        <hr>
        <form action="/pm" method="POST">
        UserName of Alumimi   : <input type="text" name='n1'><br><br>
        Message : <input type="text" value="enter your message here"><br><br>
        <input type="submit">
        </form>
        <hr>
    </body>
</html>